service vendor.hwcomposer-2-4 /vendor/bin/hw/android.hardware.graphics.composer@2.4-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ServiceCapacityLow
#  QTI_BEGIN: 2020-07-20: Display: Add socket pps for client sending Dpps commands
    socket pps stream 0660 system system
#  QTI_END: 2020-07-20: Display: Add socket pps for client sending Dpps commands
