service vendor.hwcomposer-2-3 /vendor/bin/hw/android.hardware.graphics.composer@2.3-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
#  QTI_BEGIN: 2019-03-22: Display: Interfaces: enable socket pps for android.hardware.graphics.composer@2.3
    socket pps stream 0660 system system
#  QTI_END: 2019-03-22: Display: Interfaces: enable socket pps for android.hardware.graphics.composer@2.3
    task_profiles ServiceCapacityLow
