service vendor.hwcomposer-2-1 /vendor/bin/hw/android.hardware.graphics.composer@2.1-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ServiceCapacityLow
#  QTI_BEGIN: 2018-04-30: Display: hwcomposer: add socket pps for client sending Dpps commands
    socket pps stream 0660 system system
#  QTI_END: 2018-04-30: Display: hwcomposer: add socket pps for client sending Dpps commands
